dlc/
sound/
soundtrack/
fonts/
map_data/

checksum_manifest.txt
compound_settings.txt
credits.txt
icon_transfer_all.tga
military_infantry_eastasian_body_m_normal.dds
military_infantry_eastasian_body_m_properties.dds
node_editor_node_input.tga
node_editor_title_background.tga
paths_checksummed.settings
paths.settings
rotate_glow_mask3.tga
save_game_analysis.txt
settings_layout.txt

*.code-workspace

changes.txt
*.py
localizations_*.txt
scripts_*.txt
diff.txt
